# Gradle
.gradle/
build/
**/build/

# Android/Studio
local.properties
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Others
captures/
.externalNativeBuild/
.cxx/
